html,
body {
  margin: 0;
  padding: 0;
  background-color: azure;
  height: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.home-header {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  padding: 2%;
}

.section-hedaer {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 8%;
}

.btn-block {
  background-color: #202f40;
  height: 40px;
  font-size: 0.9rem;
}
